<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
	<!--不缓存-->
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<!--不缓存-->
	<title></title>
	<link rel="stylesheet" href="../src/css/global.css">
	<link rel="stylesheet" href="../src/css/style.css">
	<script data-main="../src/js/index.js" src="../src/js/modules/require.v2.1.11.js"></script>
</head>

<body>
<div id="app">
	<parent-component></parent-component>
</div>


</body>
</html>
