<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
	<!--不缓存-->
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<!--不缓存-->
	<title></title>
<link href="../.././dev/src/css/main.css?a68553e118cadf4c6fb7" rel="stylesheet"></head>

<body>

<div id="app">
	<my-component></my-component>
</div>



<script type="text/javascript" src="../.././dev/src/js/bundle.js?a68553e118cadf4c6fb7"></script></body>
</html>
