@charset "utf-8";
/*--Reset--*/

html {
	/*font-family: "Microsoft YaHei", SimHei, Helvetica,sans-serif;*/
    /*font-family: Helvetica Neue;*/
    /*font-family:"Microsoft YaHei", SimHei, Helvetica;*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-size:16px;
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
html{-webkit-tap-highlight-color:transparent;}
html, body, div, table, tr, td, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, form, input, img, span, a, b, i, em {
	border: 0;
    margin: 0;
    padding: 0;
}
body, div, table, tr, td, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd,canvas,section,input {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
i,b{
    font-weight: normal;
    font-style: normal;
}
body {
    font-size:16px;
    color: #555;
    font-style: normal;
    line-height:24px;
    text-align: left;
    text-decoration: none;
    background: #fff;
}
.t{
    color:#333;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

img {
    vertical-align: text-bottom;
}

input {
    vertical-align: bottom;
    outline: none;
}

a {
    color: #444;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active {
    outline: none;
}

button {
    margin: 0;
    font: inherit;
    color: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*--Basic Class--*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.oh{
	overflow: hidden;
}
.substr{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.clear:before {
    display: table;
    content: " ";
    clear: both;
}
.clear:after {
    content: " ";
    display: table;
    clear: both;
}
.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.db {
    display: block;
}
.dib{
    display: inline-block;
}

.bg_gray {
    background-color: #f3f5f5;
}
.bg_grayS{
    background-color: #ccc;
}
.bg_blue {
    background:#597ac1;
}
body.bg_gray{
    background-color: #f3f5f5;
}

.bg_blue {
    background-color: #597ac1;
}
.bg_orange {
    background-color: #f5900d;
}

.disabled {
    cursor: default;
}

.active {
    cursor: pointer;
}

.mt10 {
    margin-top:.3125rem;
}
.mt16{
    margin-top:.5rem;
}
.mt20 {
    margin-top:.625rem;
}
.mt32{
    margin-top:1rem;
}
.mt36{
    margin-top:1.125rem;
}
.mt70{
    margin-top:2.1875rem;
}
.mt80{
    margin-top:2.5rem;
}
.mb10 {
    margin-bottom:.3125rem;
}
.mb14 {
    margin-bottom:.4375rem;
}
.mt26{
    margin-top:.8125rem;
}
.mt50{
    margin-top:1.5625rem;
}
.mb20 {
    margin-bottom:.625rem;
}
.mb26 {
    margin-bottom:.8125rem;
}
.mb34{
    margin-bottom:1.0625rem;
}
.mb50{
    margin-bottom:1.625rem;
}
/*grid*/
.wrap {
    width: 100%;
    display:table;
}

.container {
    width:100%;
    padding:0 1.25rem;
    display: table;
}

.container:before {
    display: table;
    content: " ";
    clear: both;
}

.container:after {
    display: table;
    content: " ";
    clear: both;
}

.column {
    position: relative;
    min-height: 1px;
    float: left;
}

header {
    position: relative;
    width: 100%;
    height: 4.5em;
    background-color: #0b0b0c;
    color: #fff;
}
.header_title {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 3em;
    width: 100%;
    height: 3em;
}

.btn_return {
    position: absolute;
    width: 2em;
    height: 2em;
    margin: 1.25em 1em;
    top: 0;
    left: 0;
}
/*common*/
.dn {
    display: none;
}

.db {
    display: block;
}
.btn {
	display:block;
    width: 100%;
    text-align: center;
    background-color: #597ac1;
    color: #fff;
}

.bg_blue{
    background:#597ac1;
}
.bg_body_gray{
    background-color:#efeff4;
}
.white{
    color:#fff;
}
.red {
    color: #ea3743;
}
.green{
    color: #25c55b;
}
.orange{
    color: #f5900d;
}
.blue{
    color:#597ac1;
}
/*fontSize*/
.fs_36{
    font-size:1.125rem;
}
.fs_30{
    font-size:.9375rem;
}
.fs_26{
    font-size:.8125rem;
}
.fs_22{
    font-size:.6875rem;
}

/*其他*/
.arrow-up {
    width:0;
    height:0;
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    border-bottom:30px solid #fff;
}

/*箭头向下*/
.arrow-down {
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top:20px solid #25c55b;
}
.bottom_text p{
    color:#999;
    text-align: center;
    font-size:.75rem;
    line-height:2.3125rem;
    height:2.3125rem;
    background:#f3f5f5;
}

.loadEffect{
    width: 60px;
    height: 60px;
    position:fixed;
    left:50%;
    margin-left:-30px;
    top:40vh;
}
.loadEffect span{
    display: inline-block;
    width:15px;
    height:5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background:#999;
    position: absolute;
    -webkit-animation: load .9s ease infinite;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-3px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 5px;
    top: 15px;
    -webkit-transform: rotate(45deg);
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 10px;
    margin-left: -13px;
    -webkit-transform: rotate(90deg);
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 15px;
    right:15px;
    -webkit-transform: rotate(135deg);
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 10px;
    top: 50%;
    margin-top:-3px;
    -webkit-transform: rotate(180deg);
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 15px;
    bottom:15px;
    -webkit-transform: rotate(225deg);
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 10px;
    left: 50%;
    margin-left: -13px;
    -webkit-transform: rotate(270deg);
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 15px;
    left: 5px;
    -webkit-transform: rotate(315deg);
    -webkit-animation-delay:1.04s;
}




/*横向滚动条隐藏*/
::-webkit-scrollbar{width:0;}
::-webkit-scrollbar-track{background:rgba(0,0,0,0);}

/*渐隐动画*/
.prompt_inner .prompt{
    position:fixed;
    width:7.5625rem;
    border-radius:.375rem;
    height:2.4375rem;
    line-height:2.4375rem;
    text-align: center;
    font-size:.875rem;
    color: #fff;
    top:2.875rem;
    left:50%;
    margin-left:-3.78125rem;
    background:#666;
    opacity:0;
}
/*暂无数据*/
.noData{
    font-size:.9375rem;
    color:#555;
    padding-left:1.25rem;
    margin-top:-.4rem;
}


